:root {
  --pic-size: 20vw;
}

.Picture {
  color: rgba(255, 255, 255, 0);
  transition: color 0.3s ease;
  position: relative;
}

.Picture:hover {
  color: rgba(255, 255, 255, 1)
}

.Picture, .Picture__img-mask,
.Picture img {
  min-width: 370px;
  min-height: 370px;
  width: var(--pic-size);
  height: var(--pic-size);
}

.Picture__img-mask {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: none;
  transition: background-color 0.3s ease;
}

.Picture__img-mask:hover {
  background-color : rgba(255, 255, 255, 0.5);
}

.Picture img{
  object-fit: cover;
}

.Picture__title {
  position: absolute;
  text-align: center;
}