:root {
  --pic-size: 400px;
}

.Picture {
  color: rgba(255, 255, 255, 0);
  transition: color 0.3s ease;
  position: relative;
  cursor: pointer;
}

.Picture:hover {
  color: rgba(240, 240, 240, 1)
}

.Picture, .Picture__img-mask,
.Picture img {
  width: var(--pic-size);
  height: var(--pic-size);
}

.Picture__img-mask {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: none;
  transition: background-color 0.3s ease;
}

.Picture__img-mask:hover {
  background-color : rgba(0, 0, 0, 0.4);
}

.Picture img{
  object-fit: cover;
}

.Picture__title {
  position: absolute;
  text-align: center;
  width: 80%;
}

.Picture__title span {
  font-size: 0.8em;
}