@import'../../sharedStyles.css';

.SelectedPicture__outer {
  background-color: rgba(42, 54, 59, .2);
  opacity: 0;
  transition: all 0.4s ease;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SelectedPicture__outer a {
  text-decoration: none;
}

.SelectedPicture__outer:hover {
  background-color: rgba(42, 54, 59, .8);
  opacity: 1;
}

.SelectedPicture__inner-container {
  width: 80vw;
  max-width: 500px;
  opacity: 1;
  color: white;
  text-align: center;
  background-color: rgba(42, 54, 59, 0);
  transition: all 0.5s ease;
  padding: 5vmin;
  border-radius: 20px;
  cursor: pointer;
}

.SelectedPicture__inner-container:hover {
  background-color: rgba(42, 54, 59, .6);
}

.SelectedPicture__inner-container h1 {
  margin-bottom: 2vmin;
}

.SelectedPicture__inner-container h2, h3, img, p {
  margin-bottom: 1vmin;
}

/* .SelectedPicture__inner-container p {
  color: white;
}

.SelectedPicture__inner-container h4>a {
  text-decoration: none;
  color: white;
} */

/* .SelectedPicture__inner-container a>h2 {
  color: rgba(254, 254, 254, 1);
} */

.SelectedPicture__inner-container a>h2,
.SelectedPicture__inner-container h4>a {
  text-decoration: none;
  color: white;
}

.SelectedPicture__inner-container a>h2:hover,
.SelectedPicture__inner-container h4>a:hover {
  color: rgba(254, 254, 254, 0.5);
  transition: color 0.3s ease;
}

@media only screen and (max-width: 1000px) {
  .SelectedPicture__outer,
  .SelectedPicture__outer:hover {
    background-color: rgba(42, 54, 59, .8);
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }

  .SelectedPicture__inner-container,
  .SelectedPicture__inner-container:hover {
    background-color: rgba(42, 54, 59, .9);
    padding: 0;
  }

  .SelectedPicture__inner-container img {
    width: 80vmin;
    height: auto;
  }

  .SelectedPicture__inner-container h1 {
    font-size: 7vmin;
  }
}