@import'./sharedStyles.css';

.App {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--p1-1);
}

h1 {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
}